# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

dist/

# Node.js
node_modules

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions